<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ticket</title>
    {% load static %}
    <script src="/static/js/scenic/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="{% static 'css/scenic/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/scenic/ticket.css' %}">
</head>
{#<script src="{% static 'js/scenic/map.js' %}"></script>#}
<script src="/static/js/scenic/order1.js"></script>
{#<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DVz4AM0f5tDaH8dZwBCjRzHxuaKn3x7x"></script>#}
<script type="text/javascript" src="{% static 'js/scenic/prefixfree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scenic/zoom-slideshow.js' %}"></script>
<script src="{% static 'js/scenic/tic.js' %}"></script>
<body>
    <header id="header">
        {% if request.session.userinfo %}
        <div id="cart">
            <b>
                <ul>
                    <li class="home"><a href="javascript:void(0)">欢迎您,{{ request.session.userinfo.uname }}</a>
                        <ol class='info1'>
                            <li><a href="/user/topUp">我的钱包</a></li>
                            <li><a href="/user/cart">我的订单</a></li>
                            <li><a href="/user/order">历史订单</a></li>
                            <li><a href="/user/logout">退出登录</a></li>
                            <li><a href="/user/cancel">注销账号</a></li>
                        </ol>
                    </li>
                </ul>
            </b>
        </div>
        {% else %}
        <div class="login">
            <b>
                <div id="register">
                    <a href="/user/register">免费注册</a>
                </div>
            </b>
            <b>
                <div id="login">
                    <a href="/user/login">您好,请登录</a>
                </div>
            </b>
        </div>
        {% endif %}
        <div class="center">
            <h1 class="logo">
                <a href="/" id="logoA">乐途旅行网</a>
            </h1>
            <nav>
                <ul class="link">
                    <h1 class="none">网站导航</h1>
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="/scenic">景点门票</a></li>
                    <li><a href="/trip">交通出行</a></li>
                    <li><a href="/hotel">酒店预定</a></li>
                    <li><a href="/about">关于我们</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="bodyer1">
        <!-- <div class="imgs">
            <img src="../img/info/qinlingdongwuyuan.jpg" alt="图片加载中">
        </div> -->
        <div id="content">
            <div id="view">
                <img src="{{ ts.img1 }}" alt="" />
            </div>
            <div id="thumbs">
                <div id="nav-left-thumbs"></div>
                <div id="pics-thumbs">
                    <img src="{{ ts.img1 }}" alt="Nature1" />
                    <img src="{{ ts.img2 }}" alt="Nature2" />
                    <img src="{{ ts.img3 }}" alt="Nature3" />
                    <img src="{{ ts.img4 }}" alt="Nature4" />
                    <img src="{{ ts.img5 }}" alt="Nature5" />

                </div>
                <div id="nav-right-thumbs"></div>
            </div>
        </div>
        <div class="sDetails">
            <h1>{{ ts.sce_name }}</h1>
            <table class="table">
                <tr>
                    <td style="width:100px;color:crimson;"><b>{{ ts.grage }}</b></td>
                    <td>景区</td>
                </tr>
                <tr>
                    <td>景点地址</td>
                    <td>{{ ts.sce_addr }}</td>
                    <td><a href="#JTZN"> <img src="{% static 'images/scenic/info/timg.jpg' %}"> 查看地图</a></td>
                </tr>
                <tr>
                    <td>开放时间</td>
                    <td colspan="2">{{ ts.open_time }}</td>
                </tr>
                <tr>
                    <td>景点主题</td>
                    <td colspan="2">{{ ts.word1 }} {{ ts.word2 }}</td>
                </tr>
                <tr>
                    <td>服务承诺</td>
                    <td colspan="2">让您的旅途更快乐</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan=class="tdlast">-------&nbsp;&nbsp;乐途旅行</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="bodytickrt">
        <div class=daohang style="background:orange;">
            <a href="/scenic/ticket">门票订购</a>
            <a href="/hotel">周围酒店</a>
        </div>

        <div class="info">
            <!--顶部工具栏-->
            <div class="type">
                <div class=gper style="width:70px;">门票种类</div>
                <div class="gname" style="width:180px;">景点名称</div>
                <div class=gpt style="width:190px;">游玩开始时间</div>
                <div class=gpt2 style="width:190px;">游玩结束时间</div>
                <div class="gprice" style="width:100px;">单价（元）</div>
                <div class="gcount">数量</div>
                <div class="gsum">金额</div>
                <div class="gor">预定</div>
            </div>

            <div class="conten">
                <!--购票信息-->
                {% for tic in tics %}
                <div class="item">
                    <form action="" method="post">

                    <div class="gper" style="width:70px;">
                        <p>{{ tic.type }}</p>
                    </div>
                    <div class="gname" style="width:180px;">
                        <p>{{ tic.name }}</p>
                    </div>
                    <div class="gpt" style="width:190px;">
                        <input type="date" name="starttime">
                    </div>
                    <div class="gpt2" style="width:190px;">
                        <input type="date" name="endtime">
                    </div>
                    <div class="gprice" style="width:100px;">
                        <p>￥ {{ tic.price }}</p>
                    </div>
                    <div class="gcount">
                        <!--阻止超链接默认事件-->
                        <a href="javascript:void(0)" class="minus">-</a>
                        <input type="text" value="1" name='number' required>
                        <a href="javascript:void(0)" class="add">+</a>
                    </div>
                    <div class="gsum">￥ {{ tic.price }}</div>
                    <div class="gor">
                        <!-- <a href="##">预定</a> -->
                        <input type="submit" value='加入购物车' 
                        style='color:#000;background: crimson;outline:none;border-radius: 5px;border:0;height:30px;width:80px;line-height:36px;' name="sub">
                    </div>
                    </form>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div id=guid>
        <div class=daohang style="background:orange;">
            <a href="##">景点简介</a>
            <a href="#JTZN">交通指南</a>
        </div>
        <div class="produce_con">

            {% autoescape off %}
            {{ intr }}
            {% endautoescape %}

        </div>
        <!--<div id="JTZN">-->
            <!--<div class="c-wrapper-style">-->
                <!--<i class="detail-icon-3">交通指南</i>-->
                <!--<span id="map_td"></span>-->
            <!--</div>-->
            <!--<div id="smap">-->
                	<!--<div id="allmap"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <footer id="footer">
        <div class="top">
            <div class="block left">
                <h2>合作伙伴</h2>
                <hr>
                <p><a href="http://www.tuniu.com">途牛旅游网</a></p>
                <p><a href="http://www.lvmama.com">驴妈妈旅游网</a></p>
                <p><a href="http://www.ctrip.com">携程旅行网</a></p>
                <p><a href="http://www.cytsonline.com">中国青年旅行社</a></p>
            </div>
            <div class="block center">
                <h2>旅游 FAQ</h2>
                <hr>
               <p><a href="/about/travelContract">旅游合同签订方式？</a></p>
                <p><a href="/about/childPrice">儿童价是基于什么制定的？</a></p>
                <p><a href="/about/touristRoute">旅游的线路品质怎么界定的？</a></p>
                <p><a href="/about/singleRoom">单房差是什么？</a></p>
                <p><a href="/about/travelInsuranceCategory">旅游保险有那些种类？</a></p>
            </div>
            <div class="block right">
                <h2>联系方式</h2>
                <hr>
                <ul>
                    <li>微博：weibo.com/letu</li>
                    <li>邮件：letu@letu.com</li>
                    <li>地址：陕西西安碑林区中铁第一国际9层</li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <p>Copyright ©LT 乐途旅行网 | 陕ICP备120110109号 | 旅行网经营许可证： L-LT-BK12345</p>
            <img src="/static/images/scenic/pic.gif" title="站长统计">
        </div>
    </footer>
</body>
</html>