#search2 input {
    vertical-align: top;
    width: 420px;
    height: 34px;
    padding: 1px 40px 1px 20px;
    border: 1px solid #999;
    border-radius: 18px;
    font-size: 15px;
    outline: none;
}

#search2 img {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 18px;
    position: absolute;
    margin-left: -38px;
}
.list {
    width: 920px;
    height: 1120px;
    /*border: 1px solid red;*/
    margin-top: 15px;
}