{% extends 'hotel/order_hotel.html' %}
{% block block_css %}
    <link rel="stylesheet" href="/static/css/hotel/order_room.css">
{% endblock block_css %}

{% block block_new %}
        <div class=daohang style="background:orange;">
            <a href="javascript:void(0)">房间订购</a>
            <a href="{% url 'hotel' %}">查看酒店</a>
        </div>
       <div class="info">
        <!--顶部工具栏-->
        <div class="type">
            <div class="check">
                {#                    <img src="../img/cart/product_normal.png" class="checkAll">#}
                全选
            </div>
            <!-- <div class=gper>人员</div> -->
            <div class="gname">房型信息</div>
            <div class=gpt>提前预定时间</div>
            <div class="gprice">单价（元）</div>
            <div class="gcount">数量</div>
            <div class="gsum">金额</div>
        </div>

        <div class="conten">
            <!--购票信息-->
           {% for room in rooms %}
                <div class="item">
                    <div class="check">


                    </div>
                    <div class="gname">
                        <img src="/static/images/hotel/{{ room.hotel.hotel_p }}/2{{ room.room_level }}.png">
                        <p><b>{{ room.hotel.hotel_name }}</b></p>
                        <p>{#窗户  有#}{{ room.window }}</p>
                        <p>{#面积  43㎡#}{{ room.area }}</p>
                        <p>{#床型  大床1.8×2.0米1张#}{{ room.bed }}</p>
                    </div>
                    <form action="{% url 'hotel'%}{{ room.hotel.id }}/{{ room.room_level }}" method="post">

                        <div class=gpt>
                            <p><label for="from_date{{ room.room_level }}">入住时间：</label><input type="text" id="from_date{{ room.room_level }}" name="from_data" value="{{ in_time }}"></p>
                            <p><label for="to_date{{ room.room_level }}">预计搬出：</label><input type="text" id="to_date{{ room.room_level }}" name="to_data" value="{{ out_time }}"></p>
                        </div>
                        <div class="gprice">
                            <h3>{{ room.room_name }}</h3>
                            <p>￥ {#977.00#}{{ room.price }}</p>
                        </div>
                        <div class="gcount">
                            <!--阻止超链接默认事件-->
                            <a href="javascript:void(0)" class="minus">-</a>
                            <input type="text" value="1">
                            <a href="javascript:void(0)" class="add">+</a>


                        </div>
                        <div class="gsum">￥ 977.00</div>
                        <div class="action"><input type="submit" value="直接订房"></div>
                    </form>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock block_new %}