<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/user/new_order.css">

</head>
<body>
{% extends 'user/cart.html' %}
{% block msg %}
{% endblock msg %}
{% block order %}
    <div id="main">
        <!--购物车顶部标签-->
        <h2>
            历史订单
        </h2>
        <!--购物车商品展示-->
        <div class="info">
            <!--顶部的工具栏-->
            <div class="type">
                <div class="ocheck">
                    <img src="/static/images/user/product_normal.png" class="checkAll">全选
                </div>
                <div class="oname">商品</div>
                <div class="oprice">单价(元)</div>
                <div class="ocount">数量</div>
                <div class="osum">金额</div>
                <div class="otime">购买时间</div>
                <div class="oaction">操作</div>
            </div>
            <!--商品展示-->
            <div id="content">
                <div id="boxx">
                    <div class="boxx">
                        <h3>您还没有在乐途旅行订购产品哦!</h3>
                        <h3>快去首页看看吧!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock order %}

</body>
</html>