<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的订单</title>
    <style>
        .item > .oaction > .del {
            color: #666666;
        }

        .item > .oaction > .del:hover {
            color: #ff6600;
        }
    </style>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/common.js"></script>
    <script>
        $(function () {
            $(".item>.oaction>.del").click(function () {
                var id = $(this).parents(".item").find(".hid").html();
                console.log(id);
                var xhr = createXhr();
                xhr.open("get", "/user/delete?id=" + id, true);
                xhr.send(null);
            })
        })
    </script>

</head>
<body>
{% extends 'user/cart.html' %}
{% block msg %}
    <div id="cart">
        <b>
            <ul>
                <li class="home">
                    <a href="javascript:void(0)">
                        欢迎您,{{ request.session.userinfo.uname }}
                    </a>
                    <ol class='info1'>
                        <li><a href="/user/topUp">我的钱包</a></li>
                        <li><a href="/user/change">个人信息</a></li>
                        <li><a href="/user/cart">购物车</a></li>
                        <li><a href="/user/order">我的订单</a></li>
                        <li><a href="/user/logout">退出登录</a></li>
                    </ol>
                </li>
            </ul>
        </b>
    </div>
{% endblock msg %}
{% block order %}
    <div id="main">
        <!--购物车顶部标签-->
        <h2 class="history">
            我的订单
        </h2>
        <!--购物车商品展示-->
        <div class="info">
            <!--顶部的工具栏-->
            <div class="type">
                <div class="ocheck">
                    <img src="/static/images/user/product_normal.png" class="checkAll">全选
                </div>
                <div class="oname">商品</div>
                <div class="oprice">单价(元)</div>
                <div class="ocount">数量</div>
                <div class="osum">金额</div>
                <div class="otime">购买时间</div>
                <div class="oaction">操作</div>
            </div>
            <!--商品展示-->
            <div id="content" style="position: relative">
                {% if page %}
                    {% for datum in page%}
                        <!--商品记录-->
                        <div class="item">

                            <div class="ocheck">
                                <img src="/static/images/user/product_normal.png" class="checkItem">
                                <span class="hid" style="display: none">{{ datum.id }}</span>
                            </div>
                            <div class="oname">
                                <img src="{{ datum.g_img }}">
                                <p>{{ datum.g_name }}</p>
                                <p>{{ datum.time1 }}</p>
                                <p>{{ datum.time2 }}</p>
                            </div>
                            <div class="oprice">
                                <h3>{{ datum.g_type }}</h3>
                                <p>¥ {{ datum.price }}</p>
                            </div>
                            <div class="ocount">
                                <p>{{ datum.g_num }}</p>
                            </div>
                            <div class="osum">¥ {{ datum.total_price }}</div>
                            <div class="otime">
                                <p>{{ datum.booking_time }}</p>
                            </div>
                            <div class="oaction">
                                <a href="javascript:void(0)" class="del">删除</a>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- 分页 -->
                    <div id='page' style="position: absolute;bottom: 35px;left: 550px">
                        {# 分页功能 #}
                        {# 上一页功能 #}
                        {% if page.has_previous %}
                            <a href="{% url 'order' %}?page={{ page.previous_page_number }}">上一页</a>
                        {% else %}
                            上一页
                        {% endif %}

                        {# 以下增加各页的超链接 #}
                        {% for p in paginator.page_range %}
                            {# 判断p是否是当前页，如果是当前面，不加超链接#}
                            {% if p == page.number %}
                                {{ p }}
                            {% else %}
                                <a href="{% url 'order' %}?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        {% endfor %}
                        {#下一页功能#}
                        {% if page.has_next %}
                            <a href="{% url 'order' %}?page={{ page.next_page_number }}">下一页</a>
                        {% else %}
                            下一页
                        {% endif %}
                    </div>
                {% else %}
                    <div id="boxx">
                        <div class="boxx">
                            <h3>您还没有在乐途旅行订购产品哦!</h3>
                            <h3>快去首页看看吧!</h3>
                        </div>
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock order %}

</body>
</html>