{% extends 'user/login.html' %}

{%block css%}
    <link rel="stylesheet" href="/static/css/user/phoneLogin.css">
{%endblock css%}
{% block loginJs %}
<script src="/static/js/user/phoneLogin.js"></script>
{% endblock loginJs %}
{% block body_head %}
手机验证码登录<a href="/user/login">用户名密码登录</a>
{% endblock body_head %}
{% block phoneLogin %}
<p class="p1" style="height: 80px;">请输入手机号码:
<input type="text" name="phone" id='phone' placeholder="请输入手机号码" style="width: 120px;">
<button id="btnPhone">获取验证码</button>
<span id="uphone" style="color: red"></span>
</p>
<p class="p1" style="height: 80px;">请输入验证码:
<input type="text" id="mes" placeholder="请输入您收到的手机验证码">
<span id="umes" style="color: red"></span>
</p>
<label for="" id="showMes" style="display: none"></label>
<button id="btn">登录</button>
{% endblock phoneLogin %}