.msg{
    width:600px;
    height: 730px;
    /*background: #ff6600;*/
    margin: 0 auto;
}
.main_tit{
    color: #666666;

}
.ico img{
    /*background-image: url(../../images/pay/payment.png);*/
    width: 50px;
    height: 50px;
    /*background: red;*/
    float: left;
    margin-top: 300px;
    margin-left: 137px;
}
.ico1 {
    width: 325px;
    padding-left: 187px;
    padding-top: 300px;
}
#myorder:hover{
    color: #ff6600;
}
#delect:hover{
    color: red;
}