#change{
    width: 400px;
    height: 400px;
    background: #fff;
    float: right;
    margin-top: 80px;
    color: #333;
    font-size: 1.4em;
    border: 5px solid orange;
    border-radius: 20px;
}
#change table{
    margin-top: 20px;
    width:400px;
    line-height: 40px;
}
#change tr td:nth-child(1){
    width: 110px;
    text-align: right;
}
#change tr td:nth-child(2){
    width: 220px;
    text-align: center;
}
#change .subDel{
    margin-top: 40px;
    text-align: center;
}
#change .fImg{
    margin-top: 20px;     
}
#change .fImg input:nth-child(1){
    width: 200px;
    margin-left: 60px;
}
