
#boxx{
    width: 300px;
    height: 210px;
    /*background: red;*/
    margin: 150px auto;
}
.boxx{
    margin: 0 auto;
    padding-top: 75px;
    /*background: green;*/
    text-align: center;
    color: red;
;
}